<p id="notice"><%= notice %></p>

<center><h1>I tend to...</h1></center>
<br>
<div>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render 'form', interest: @interest %>
  </tbody>
</table>
</div>
  
  <%= button_to "Test", interests_path(@interest), method: :edit, class: "btn btn-xs btn-success" %>


<br>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 

</table>

<br>




<br>


